body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
header{
    height: 603px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3498db;
    width: 100%; 
    text-transform: uppercase;
    text-align: center;
}
header h1.big-title{ font-size: 40px; margin-top: 100px;}
header h3.link-download{ font-size: 25px; margin-top: 60px; }
header a{
    text-transform: none;
    font-family: Arial;
    color: #3498db;
    padding: 20px;
    border-radius: 200px;
    border: 2px solid #fff;
    background-color: #fff;
transition: all 0.5s ease;

}
header a:hover{
text-decoration: none;
background-color:#3498db;
transition: all 0.5s ease;
color: #fff;
}
.header-picture{ margin-top: 100px; }

section{
    padding-top: 600px;
    color: #252932;
}

.features-bigtitle{ margin-top: 45px; margin-bottom: 45px; }
.features-img{ display: inline; vertical-align: middle; }
.features-title{ display: inline; text-transform: uppercase; margin-left: 30px; font-size: 25px; }
.features-description{ margin-left: 80px; margin-bottom: 50px; font-size: 18px; }


.surface{
    padding: 0;
    margin: 0;
    background-image: url(../images/surface.png);
    background-repeat: no-repeat;
    width: 530px;
    height: 600px;
    overflow:hidden;
    position: absolute;
    right: 0px;
    top: 740px;
}

.opensource{
    background-color: #f4f5f7;
}
.code-editor{ padding-top: 15px; }

.opensource-title{ font-size: 25px;}

.opensource-link{
text-decoration: none;
color: #1c5276;
transition: all 0.5s ease }

.opensource-link:hover{
color: #3498db;
transition: all 0.5s ease }

.github-link{
    background-color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #e0e3e8;
    border-radius: 50px;
    color: #4184bf;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
transition: all 0.5s ease 
}
.github-link:hover{
text-decoration: none;
background-color: #e3e3e3;
transition: all 0.5s ease }



footer{
    margin-top: 25px;
    height: 40px;
    background-color: #ffffff;
}
footer a:hover{
    color: #fff;
}
.facebook-link{
    text-transform: none;
    color: #ffffff;
    background-color: #3b5998;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
transition: all 0.5s ease
}
.twitter-link{
    text-transform: none;
    color: #ffffff;
    background-color: #33ccff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
transition: all 0.5s ease;
}

.simpleworld-link{
    text-transform: none;
    color: #ffffff;
    background-color: #e74c3a;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
transition: all 0.5s ease;
}
.simpleworld-logo{
    position: absolute;
    background-image: url(../images/simpleworld.png);
    width: 39;
    height: 34px;
}
.french{
    float: right;
}

@media (max-width: 991px){
    .header-picture{
        display: none;
    }
    .surface{
        display: none;
    }
    .code-editor{
        display: none;
    }
    .social-btn{
        margin-bottom: 20px;
    }
    .french{
        float: left;
    }

}